<div class="row">
	<div class="col-md-3">
		<%= render 'skill_menu' %>
	</div>
	<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading">
			Location
		</div>

		<div class="panel-body">
			<div class="container">
				<%= form_for @skill do |f| %>
				<div class="row">
					<div class="form-group">
					<label>Where are you from?</label>
					<%= f.text_field :portfolio, placeholder: "eg: Los Angeles, California", class: "form-control", required: true, id: "autoaddress"%>
					</div>
				</div>

				<div class="text-center">
					<%= f.submit "Save", class: "btn btn-form" %>
				</div>
				<% end %>
			</div>
		</div>

	</div>
	</div>
</div>

<script>
	 $(function() {
    $("#autoaddress").geocomplete();
  })
</script>